<div class="main-container">
  <header class="header header-6">
    <div class="branding">
      <a routerLink="/users">
        <span class="title">User Admin App</span>
      </a>
    </div>
  </header>
  <nav class="subnav">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/users" routerLinkActive="active">Manage Users</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/play" routerLinkActive="active">Play</a>
      </li>
    </ul>
  </nav>
  <div class="content-container">
    <div class="content-area">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>