.flex-container{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.flex-header{
    flex-basis: 10%;
}
.flex-search{
    flex-basis: 75%;
}
.flex-action-items{
    flex-basis: 15%;
}